In [3]:
import pandas as pd
import numpy as np

In [4]:
files= ['census_b25093', 'census_b01001', 'census_dp04', 'census_b05001', 'census_b06011', 'census_b07001', 'census_b25096', 'census_b25040','census_B19049']



census_b25093 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_10_SF4_B25093/ACS_10_SF4_B25093_with_ann.csv')
census_b01001 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_10_SF4_B01001/ACS_10_SF4_B01001_with_ann.csv')
census_dp04 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_10_SF4_DP04/ACS_10_SF4_DP04_with_ann.csv')
census_b05001 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_10_SF4_B05001/ACS_10_SF4_B05001_with_ann.csv')
census_b06011 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_ B0611/ACS_10_5YR_B06011_with_ann.csv')
census_b07001 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_B07001/ACS_10_5YR_B07001_with_ann.csv')
census_b25096 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS2010 B25096/ACS_10_5YR_B25096_with_ann.csv')
census_b25040 = pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_10_SF4_B25040/ACS_10_SF4_B25040_with_ann.csv')
census_B19049= pd.read_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/ACS_10_SF4_B19049/ACS_10_SF4_B19049_with_ann.csv')

In [5]:
print census_b25093.shape, 'B25093'
print census_B19049.shape, 'B19049'
print census_b25096.shape, 'B25096'
print census_b07001.shape, 'B07001'
print census_b06011.shape, 'B06011'
print census_b05001.shape, 'b05001'
print census_dp04.shape, 'dp04'
print census_b01001.shape, 'B01001'
print census_b25040.shape, 'B25040'

(190, 63) B25093
(190, 15) B19049
(182, 37) B25096
(182, 195) B07001
(182, 13) B06011
(190, 17) b05001
(190, 569) dp04
(190, 103) B01001
(190, 25) B25040

In [6]:
census_dp04.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'POPGROUP.id',
       u'POPGROUP.display-label', u'HC01_VC03', u'HC02_VC03', u'HC03_VC03',
       u'HC04_VC03', u'HC01_VC04',
       ...
       u'HC03_VC196', u'HC04_VC196', u'HC01_VC197', u'HC02_VC197',
       u'HC03_VC197', u'HC04_VC197', u'HC01_VC199', u'HC02_VC199',
       u'HC03_VC199', u'HC04_VC199'],
      dtype='object', length=569)

In [7]:
census_b25093.head(2)

,GEO.id,GEO.id2,GEO.display-label,POPGROUP.id,POPGROUP.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
0,Id,Id2,Geography,Id,Population Group,Estimate; Total:,Margin of Error; Total:,Estimate; Householder 15 to 24 years:,Margin of Error; Householder 15 to 24 years:,Estimate; Householder 15 to 24 years: - Less t...,...,Estimate; Householder 65 years and over: - 20....,Margin of Error; Householder 65 years and over...,Estimate; Householder 65 years and over: - 25....,Margin of Error; Householder 65 years and over...,Estimate; Householder 65 years and over: - 30....,Margin of Error; Householder 65 years and over...,Estimate; Householder 65 years and over: - 35....,Margin of Error; Householder 65 years and over...,Estimate; Householder 65 years and over: - Not...,Margin of Error; Householder 65 years and over...
1,1400000US25025000100,25025000100,"Census Tract 1, Suffolk County, Massachusetts",001,Total population,438,98,0,127,0,...,0,127,10,15,0,127,53,34,0,127

### These tables have 5 columns before getting to the main data values:

1001     5001    19049    25040    25093    DP04

### These tables have 3 columns:
6011     70001   25096

In [8]:
b07001_cols = range(4,195,4)

In [9]:


#Three columns
b07001_cols = [0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194]
b06011_cols = [0,2,4,6,8,10,12]
b25096_cols = [0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36]

#Five columns
b25093_cols = [0,2,3,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62]
B19049_cols = [0,2,3,4,6,8,10,12,14]
b05001_cols = [0,2,3,4,6,8,10,12,14,16]
dp04_cols = [0,2,3,4,6,7,8,10,11,12,14,15,16,18,19,20,22,23,24,26,27,28,30,31,32,34,35,36,38,39,40,42,43,44,46,47,48,50,51,52,54,55,56,58,59,60,62,63,64,66,67,68,70,71,72,74,75,76,78,79,80,82,83,84,86,87,88,90,91,92,94,95,96,98,99,100,102,103,104,106,107,108,110,111,112,114,115,116,118,119,120,122,123,124,126,127,128,130,131,132,134,135,136,138,139,140,142,143,144,146,147,148,150,151,152,154,155,156,158,159,160,162,163,164,166,167,168,170,171,172,174,175,176,178,179,180,182,183,184,186,187,188,190,191,192,194,195,196,198,199,200,202,203,204,206,207,208,210,211,212,214,215,216,218,219,220,222,223,224,226,227,228,230,231,232,234,235,236,238,239,240,242,243,244,246,247,248,250,251,252,254,255,256,258,259,260,262,263,264,266,267,268,270,271,272,274,275,276,278,279,280,282,283,284,286,287,288,290,291,292,294,295,296,298,299,300,302,303,304,306,307,308,310,311,312,314,315,316,318,319,320,322,323,324,326,327,328,330,331,332,334,335,336,338,339,340,342,343,344,346,347,348,350,351,352,354,355,356,358,359,360,362,363,364,366,367,368,370,371,372,374,375,376,378,379,380,382,383,384,386,387,388,390,391,392,394,395,396,398,399,400,402,403,404,406,407,408,410,411,412,414,415,416,418,419,420,422,423,424,426,427,428,430,431,432,434,435,436,438,439,440,442,443,444,446,447,448,450,451,452,454,455,456,458,459,460,462,463,464,466,467,468,470,471,472,474,475,476,478,479,480,482,483,484,486,487,488,490,491,492,494,495,496,498,499,500,502,503,504,506,507,508,510,511,512,514,515,516,518,519,520,522,523,524,526,527,528,530,531,532,534,535,536,538,539,540,542,543,544,546,547,548,550,551,552,554,555,556,558,559,560,562,563,564,566,567,568]
b01001_cols = [0,2,3,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102]
b25040_cols = [0,2,3,4,6,8,10,12,14,16,18,20,22,24]

census_b07001CL = census_b07001.drop(census_b07001.columns[b07001_cols], axis = 1)
census_b06011CL = census_b06011.drop(census_b06011.columns[b06011_cols], axis = 1)
census_b25096CL = census_b25096.drop(census_b25096.columns[b25096_cols], axis = 1)

census_b25093CL = census_b25093.drop(census_b25093.columns[b25093_cols],  axis = 1)
census_B19049CL = census_B19049.drop(census_B19049.columns[B19049_cols],  axis = 1)
census_b05001CL = census_b05001.drop(census_b05001.columns[b05001_cols],  axis = 1)
census_dp04CL = census_dp04.drop(census_dp04.columns[dp04_cols],  axis = 1)
census_b01001CL = census_b01001.drop(census_b01001.columns[b01001_cols],  axis = 1)
census_b25040CL = census_b25040.drop(census_b25040.columns[b25040_cols],  axis = 1)

In [11]:
ctract_mega = pd.merge(census_b06011CL, census_b25096CL, left_on = 'GEO.id2', right_on = 'GEO.id2', how = "left", suffixes=('_6011', '_25096'))

In [12]:
print census_b06011CL.shape, 'table 6011'
print census_b25096CL.shape, 'table 25096'
ctract_mega.shape

(182, 6) table 6011
(182, 18) table 25096

(182, 23)

In [13]:
ctract_mega = pd.merge(ctract_mega, census_b07001CL, left_on = 'GEO.id2', right_on = 'GEO.id2', how = "left", suffixes=('_mega', '_7001'))

In [14]:
ctract_mega.shape

(182, 119)

In [15]:
ctract_mega.head()

,GEO.id2,HD01_VD02_6011,HD01_VD03_6011,HD01_VD04_6011,HD01_VD05_6011,HD01_VD06_6011,HD01_VD01_mega,HD01_VD02_25096,HD01_VD03_25096,HD01_VD04_25096,...,HD01_VD88,HD01_VD89,HD01_VD90,HD01_VD91,HD01_VD92,HD01_VD93,HD01_VD94,HD01_VD95,HD01_VD96,HD01_VD97
0,Id2,Estimate; Median income in the past 12 months ...,Estimate; Median income in the past 12 months ...,Estimate; Median income in the past 12 months ...,Estimate; Median income in the past 12 months ...,Estimate; Median income in the past 12 months ...,Estimate; Total:,Estimate; With a mortgage:,"Estimate; With a mortgage: - Less than $50,000","Estimate; With a mortgage: - $50,000 to $99,999",...,Estimate; Total: - Moved from abroad: - 30 to ...,Estimate; Total: - Moved from abroad: - 35 to ...,Estimate; Total: - Moved from abroad: - 40 to ...,Estimate; Total: - Moved from abroad: - 45 to ...,Estimate; Total: - Moved from abroad: - 50 to ...,Estimate; Total: - Moved from abroad: - 55 to ...,Estimate; Total: - Moved from abroad: - 60 to ...,Estimate; Total: - Moved from abroad: - 65 to ...,Estimate; Total: - Moved from abroad: - 70 to ...,Estimate; Total: - Moved from abroad: - 75 yea...
1,250250700007000000100,26845,32813,34920,17733,25243,438,288,0,0,...,8,0,0,0,0,0,0,0,0,0
2,250250700007000000201,36472,34407,42491,35643,31855,504,355,0,0,...,0,0,0,0,0,0,0,0,0,0
3,250250700007000000202,29353,33341,37016,12292,20054,599,328,0,0,...,0,0,0,0,0,0,0,0,0,0
4,250250700007000000301,50023,50087,44302,78281,50500,477,354,15,5,...,35,0,0,0,0,0,0,0,0,0

In [16]:
ctract_mega = pd.merge(ctract_mega, census_b25093CL, left_on = 'GEO.id2', right_on = 'GEO.id2', how = "left", suffixes=('_mega', '25093'))

In [17]:
ctract_mega.shape

(182, 148)

In [18]:
curcols = ctract_mega.columns.tolist()
curcols

['GEO.id2',
 'HD01_VD02_6011',
 'HD01_VD03_6011',
 'HD01_VD04_6011',
 'HD01_VD05_6011',
 'HD01_VD06_6011',
 'HD01_VD01_mega',
 'HD01_VD02_25096',
 'HD01_VD03_25096',
 'HD01_VD04_25096',
 'HD01_VD05_25096',
 'HD01_VD06_25096',
 'HD01_VD07_mega',
 'HD01_VD08_mega',
 'HD01_VD09_mega',
 'HD01_VD10_mega',
 'HD01_VD11_mega',
 'HD01_VD12_mega',
 'HD01_VD13_mega',
 'HD01_VD14_mega',
 'HD01_VD15_mega',
 'HD01_VD16_mega',
 'HD01_VD17_mega',
 'HD01_VD01_7001',
 'HD01_VD03_mega',
 'HD01_VD04_mega',
 'HD01_VD05_mega',
 'HD01_VD06_mega',
 'HD01_VD07_7001',
 'HD01_VD08_7001',
 'HD01_VD09_7001',
 'HD01_VD10_7001',
 'HD01_VD11_7001',
 'HD01_VD12_7001',
 'HD01_VD13_7001',
 'HD01_VD14_7001',
 'HD01_VD15_7001',
 'HD01_VD16_7001',
 'HD01_VD17_7001',
 'HD01_VD18_mega',
 'HD01_VD19_mega',
 'HD01_VD20_mega',
 'HD01_VD21_mega',
 'HD01_VD22_mega',
 'HD01_VD23_mega',
 'HD01_VD24_mega',
 'HD01_VD25_mega',
 'HD01_VD26_mega',
 'HD01_VD27_mega',
 'HD01_VD28_mega',
 'HD01_VD29_mega',
 'HD01_VD30',
 'HD01_VD31',
 'HD01_VD32',
 'HD01_VD33',
 'HD01_VD34',
 'HD01_VD35',
 'HD01_VD36',
 'HD01_VD37',
 'HD01_VD38',
 'HD01_VD39',
 'HD01_VD40',
 'HD01_VD41',
 'HD01_VD42',
 'HD01_VD43',
 'HD01_VD44',
 'HD01_VD45',
 'HD01_VD46',
 'HD01_VD47',
 'HD01_VD48',
 'HD01_VD49',
 'HD01_VD50',
 'HD01_VD51',
 'HD01_VD52',
 'HD01_VD53',
 'HD01_VD54',
 'HD01_VD55',
 'HD01_VD56',
 'HD01_VD57',
 'HD01_VD58',
 'HD01_VD59',
 'HD01_VD60',
 'HD01_VD61',
 'HD01_VD62',
 'HD01_VD63',
 'HD01_VD64',
 'HD01_VD65',
 'HD01_VD66',
 'HD01_VD67',
 'HD01_VD68',
 'HD01_VD69',
 'HD01_VD70',
 'HD01_VD71',
 'HD01_VD72',
 'HD01_VD73',
 'HD01_VD74',
 'HD01_VD75',
 'HD01_VD76',
 'HD01_VD77',
 'HD01_VD78',
 'HD01_VD79',
 'HD01_VD80',
 'HD01_VD81',
 'HD01_VD82',
 'HD01_VD83',
 'HD01_VD84',
 'HD01_VD85',
 'HD01_VD86',
 'HD01_VD87',
 'HD01_VD88',
 'HD01_VD89',
 'HD01_VD90',
 'HD01_VD91',
 'HD01_VD92',
 'HD01_VD93',
 'HD01_VD94',
 'HD01_VD95',
 'HD01_VD96',
 'HD01_VD97',
 'HD01_VD01',
 'HD01_VD02',
 'HD01_VD0325093',
 'HD01_VD0425093',
 'HD01_VD0525093',
 'HD01_VD0625093',
 'HD01_VD07',
 'HD01_VD08',
 'HD01_VD09',
 'HD01_VD10',
 'HD01_VD11',
 'HD01_VD12',
 'HD01_VD13',
 'HD01_VD14',
 'HD01_VD15',
 'HD01_VD16',
 'HD01_VD17',
 'HD01_VD1825093',
 'HD01_VD1925093',
 'HD01_VD2025093',
 'HD01_VD2125093',
 'HD01_VD2225093',
 'HD01_VD2325093',
 'HD01_VD2425093',
 'HD01_VD2525093',
 'HD01_VD2625093',
 'HD01_VD2725093',
 'HD01_VD2825093',
 'HD01_VD2925093']

In [19]:

census_b07001CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b07001CL.csv')
census_b06011CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b06011CL.csv')
census_b25096CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b25096CL.csv')

census_b25093CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b25093CL.csv')
census_B19049CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_B19049CL.csv')
census_b05001CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b05001CL.csv')
census_dp04CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_dp04CL.csv')
census_b01001CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b01001CL.csv')
census_b25040CL.to_csv('/Users/DavidStier/Documents/Python and Data Science/DSI Class/Final Project/Datasets/Audit Trail Datasets/CensusTractTables - AmericanCommunSurvey/CSVs from python/census_b25040CL.csv')